@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $secondary_pg;
    font-family: $font-stack;
    font-size: 1.8rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 140rem;
    width: 57%;
    margin: 10rem auto;
    box-shadow: 0 0.6rem 2rem rgba(0,0,0, 0.3);
    border-radius: 1rem;
    overflow: hidden;


    .summary {
        grid-column: 1 / -1;
        padding: 3rem 3.7rem;
        height: 23rem;
        background: #fff;
        line-height: 1.4;

        h1 {
            color: $primary_color;
            letter-spacing: -0.2rem;
            margin-bottom: 1.3rem; 
        }

        .guarantee {
            color: $seconday_color;
            font-size: 1.65rem;
            font-weight: 700;
        }

        .main_pg {
            color: $main_pg;
            font-size: 1.55rem;
            margin-top: 0.8rem;
        }
    }




    .subscription {
        padding: 3rem 3.7rem;
        height: 100%;
        background: $primary_color;

        h2 {
            color: #fff;
            font-size: 2.3rem;
            margin-bottom: 1rem;
        }

        .cost {
            color: $secondary_pg;
            margin-bottom: 0.5rem;
            position: relative;
        }
        .cost .amt {
            font-size: 3.5rem;
            margin-right: 1.1rem;
        }

        .per {
            opacity: 0.6;
            position: absolute;
            top: 20%;
        }

        .description {
            color: #fff;
            font-size: 1.55rem;
            margin-bottom: 2rem;
            opacity: 0.8;
        }

        .btn {
            background: $seconday_color;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
            width: 27rem;
            padding: 1.8rem 4rem;
            border-radius: 0.5rem;
            border: none;
            box-shadow: 0 0 1.7rem rgba(0,0,0,0.3);
            cursor: pointer;
        }
    }



    .why {
        background: $primary_color;
        opacity: 0.8;
        padding: 3rem 3.7rem;
        height: 100%;

        h2 {
            color: #fff;
            font-size: 2.3rem;
            margin-bottom: 1rem;
        }

        ul li {
            list-style: none;
            color: $secondary_pg;
            font-size: 1.55rem;
            opacity: 0.7;
        }
    }
}


@media (max-width: 23.5em) {
    html {
        font-size: 52%;
    }

    .container {
        grid-template-columns: 1fr;
        max-width: 37.5rem;
        width: 85%;

        .summary {
            height: auto;
        }
    }
}